In [1]:
import datetime
import os.path
import sys

import pandas as pd
import numpy as np

In [2]:
!head ../data/raw/ES2006tick.csv

In [3]:
path = '../data/raw/ES2006tick.csv'
parse = lambda x: datetime.datetime.strptime(x[:-1],'%Y%m%d %H:%M:%S.%f')
tick_data = pd.read_csv(path, usecols=['Date and Time', 'Close', 'Volume'], 
                        index_col='Date and Time', parse_dates=['Date and Time'],
                        date_parser=parse,
                        dtype={'Close': np.float32, 'Volume': np.int16})
##Convert to EST
tick_data.index = tick_data.index.tz_localize('US/Eastern')
#tick_data = tick_data.tz_convert('US/Eastern')

##Save to feather format -- need to make index a column (won't take the datetime)
#tick_data.reset_index(inplace=True)
tick_data.columns = ['last','volume']
tick_data.index.rename('date', inplace=True)
#tick_data.to_feather('../data/processed/ES_all_tick.feather')

store = pd.HDFStore('../data/processed/store.h5')
store.put('tick_data',tick_data)
store.close()

tick_data.head()

                              last  volume
date
2006-01-02 17:00:02-05:00  1255.25       2
2006-01-02 17:00:04-05:00  1255.50       3
2006-01-02 17:00:05-05:00  1255.25       1
2006-01-02 17:00:08-05:00  1255.50       5
2006-01-02 17:00:08-05:00  1255.50       5

In [ ]:
td = pd.read_feather('../data/processed/ES_all_tick.feather')

In [3]:
store = pd.HDFStore('store.h5')

In [4]:
td = pd.read_hdf('../data/processed/store.h5', key='tick_data')
td.head()

                              last  volume
date
2006-01-02 17:00:02-05:00  1255.25       2
2006-01-02 17:00:04-05:00  1255.50       3
2006-01-02 17:00:05-05:00  1255.25       1
2006-01-02 17:00:08-05:00  1255.50       5
2006-01-02 17:00:08-05:00  1255.50       5

In [3]:
td = store.get('tick_data')
td.head()

ClosedFileError: ../data/processed/store.h5 file is not open!

In [4]:
td.shape

(918971351, 3)

In [15]:
td.memory_usage(deep=True).sum()

12865598914

In [7]:
tick_data = tick_data.set_index('Date')

In [8]:
tick_data.head()

                       Price  Volume
Date
2006-01-02 17:00:02  1255.25       2
2006-01-02 17:00:04  1255.50       3
2006-01-02 17:00:05  1255.25       1
2006-01-02 17:00:08  1255.50       5
2006-01-02 17:00:08  1255.50       5