In [1]:
#%matplotlib inline
import time
import datetime
import numpy as np
import pandas as pd
import pandas_market_calendars as mcal
import matplotlib as mpl
import matplotlib.pyplot as plt
from matplotlib.finance import candlestick_ohlc, candlestick2_ohlc
import matplotlib.dates as mdates
import matplotlib.ticker as ticker
%matplotlib

Using matplotlib backend: Qt5Agg

/home/ubuntu/src/anaconda3/envs/tensorflow/lib/python3.6/site-packages/matplotlib/cbook/deprecation.py:106: MatplotlibDeprecationWarning: The finance module has been deprecated in mpl 2.0 and will be removed in mpl 2.2. Please use the module mpl_finance instead.
  warnings.warn(message, mplDeprecation, stacklevel=1)

In [3]:
tick_data = pd.read_feather('../data/processed/ES_tick.feather')
tick_data.head()

                              date     last      bid      ask  volume
0 2016-09-15 00:00:00.292000-04:00  2112.25  2112.25  2112.50       8
1 2016-09-15 00:00:01.425000-04:00  2112.50  2112.50  2112.75       1
2 2016-09-15 00:00:05.201000-04:00  2112.25  2112.25  2112.50       1
3 2016-09-15 00:00:05.201000-04:00  2112.25  2112.25  2112.50       1
4 2016-09-15 00:00:05.201000-04:00  2112.25  2112.25  2112.50       1

In [4]:
#Create Index from date column
tick_data.index = tick_data['date']
tick_data.drop(labels=['date'],axis=1,inplace=True)
tick_data.head()

                                     last      bid      ask  volume
date
2016-09-15 00:00:00.292000-04:00  2112.25  2112.25  2112.50       8
2016-09-15 00:00:01.425000-04:00  2112.50  2112.50  2112.75       1
2016-09-15 00:00:05.201000-04:00  2112.25  2112.25  2112.50       1
2016-09-15 00:00:05.201000-04:00  2112.25  2112.25  2112.50       1
2016-09-15 00:00:05.201000-04:00  2112.25  2112.25  2112.50       1

In [5]:
#Resample to get 5min bars
five_min_data = pd.DataFrame(
    tick_data['last'].resample('5Min', loffset=datetime.timedelta(minutes=5)).ohlc())

In [6]:
#We hack the NYSE Calendar extending the close until 4:15
class CMERTHCalendar(mcal.exchange_calendar_nyse.NYSEExchangeCalendar):
    @property
    def close_time(self):
        return datetime.time(16, 15)

nyse = CMERTHCalendar()
schedule = nyse.schedule(start_date=five_min_data.index.min(), 
                         end_date=five_min_data.index.max())

In [7]:
#Filter out those bars that occur during RTH
five_min_data['dates'] = pd.to_datetime(five_min_data.index.to_datetime().date)
five_min_data['valid_date'] = five_min_data['dates'].isin(schedule.index)
five_min_data['valid_time'] = False
during_rth = five_min_data['valid_date'] & \
            (five_min_data.index > schedule.loc[five_min_data['dates'],'market_open']) & \
            (five_min_data.index <= schedule.loc[five_min_data['dates'],'market_close'])
five_min_data.loc[during_rth, 'valid_time'] = True
five_min_data = five_min_data[five_min_data['valid_time'] == True]
five_min_data.drop(['dates','valid_date','valid_time'], axis=1, inplace=True)

#Only use data from 7/29 onward -- Avoid null values -- bad tick data
five_min_data = five_min_data[five_min_data.index > '2017-07-29']

#Reset index
five_min_data.reset_index(inplace=True)

five_min_data.head()

                       date     open     high      low    close
0 2017-07-31 09:35:00-04:00  2474.75  2475.75  2474.00  2475.50
1 2017-07-31 09:40:00-04:00  2475.25  2476.00  2473.75  2475.50
2 2017-07-31 09:45:00-04:00  2475.75  2475.75  2474.50  2474.75
3 2017-07-31 09:50:00-04:00  2474.50  2475.00  2473.50  2473.75
4 2017-07-31 09:55:00-04:00  2474.00  2474.25  2472.75  2472.75

In [8]:
%load_ext line_profiler

In [9]:
%prun??

In [9]:
%%time
fig, ax = plt.subplots(figsize=(10,5))
for i in range(0, 100):
    graph_data = five_min_data.iloc[i:i+100]
    x = graph_data['date'].tolist()
    y = graph_data['close'].tolist()
    if i == 0:
        line, = ax.plot(x,y, color='blue')
        ax.set_xlim(x[0],x[-1])
    else:
        #line.set_data(x,y)
        line, = ax.plot(x,y, color='blue')
        ax.set_xlim(x[0],x[-1])
    #plt.show()
    #print(ax.get_xlim())
    plt.pause(.01)

CPU times: user 6.39 s, sys: 6.16 s, total: 12.6 s
Wall time: 4.55 s

In [10]:
five_min_data['x'] = five_min_data.index
five_min_data['ema'] = five_min_data['close'].ewm(span=20, min_periods=20).mean()
five_min_data.head()

                       date     open     high      low    close  x  ema
0 2017-07-31 09:35:00-04:00  2474.75  2475.75  2474.00  2475.50  0  NaN
1 2017-07-31 09:40:00-04:00  2475.25  2476.00  2473.75  2475.50  1  NaN
2 2017-07-31 09:45:00-04:00  2475.75  2475.75  2474.50  2474.75  2  NaN
3 2017-07-31 09:50:00-04:00  2474.50  2475.00  2473.50  2473.75  3  NaN
4 2017-07-31 09:55:00-04:00  2474.00  2474.25  2472.75  2472.75  4  NaN

In [11]:
five_min_data.shift(1).head()

                       date     open     high      low    close    x  ema
0                       NaT      NaN      NaN      NaN      NaN  NaN  NaN
1 2017-07-31 09:35:00-04:00  2474.75  2475.75  2474.00  2475.50  0.0  NaN
2 2017-07-31 09:40:00-04:00  2475.25  2476.00  2473.75  2475.50  1.0  NaN
3 2017-07-31 09:45:00-04:00  2475.75  2475.75  2474.50  2474.75  2.0  NaN
4 2017-07-31 09:50:00-04:00  2474.50  2475.00  2473.50  2473.75  3.0  NaN

In [12]:
five_min_data.shift(-1).head()

                       date     open     high      low    close    x  ema
0 2017-07-31 09:40:00-04:00  2475.25  2476.00  2473.75  2475.50  1.0  NaN
1 2017-07-31 09:45:00-04:00  2475.75  2475.75  2474.50  2474.75  2.0  NaN
2 2017-07-31 09:50:00-04:00  2474.50  2475.00  2473.50  2473.75  3.0  NaN
3 2017-07-31 09:55:00-04:00  2474.00  2474.25  2472.75  2472.75  4.0  NaN
4 2017-07-31 10:00:00-04:00  2472.75  2473.25  2471.00  2471.25  5.0  NaN

In [15]:
higher_than_next_bar = five_min_data['high'] > five_min_data.shift(-1)['high']
higher_than_prev_bar = five_min_data['high'] > five_min_data.shift(1)['high']
lower_than_next_bar = five_min_data['low'] < five_min_data.shift(-1)['low']
lower_than_prev_bar = five_min_data['low'] < five_min_data.shift(1)['low']
five_min_data['pivot_high'] = higher_than_next_bar & higher_than_prev_bar
five_min_data['pivot_low'] = lower_than_next_bar & lower_than_prev_bar
five_min_data.head(20)

,date,open,high,low,close,x,ema,pivot_high,pivot_low
0,2017-07-31 09:35:00-04:00,2474.75,2475.75,2474.00,2475.50,0,NaN,False,False
1,2017-07-31 09:40:00-04:00,2475.25,2476.00,2473.75,2475.50,1,NaN,True,True
2,2017-07-31 09:45:00-04:00,2475.75,2475.75,2474.50,2474.75,2,NaN,False,False
3,2017-07-31 09:50:00-04:00,2474.50,2475.00,2473.50,2473.75,3,NaN,False,False
4,2017-07-31 09:55:00-04:00,2474.00,2474.25,2472.75,2472.75,4,NaN,False,False
5,2017-07-31 10:00:00-04:00,2472.75,2473.25,2471.00,2471.25,5,NaN,False,False
6,2017-07-31 10:05:00-04:00,2471.50,2471.75,2468.25,2468.75,6,NaN,False,True
7,2017-07-31 10:10:00-04:00,2468.50,2470.75,2468.50,2470.50,7,NaN,False,False
8,2017-07-31 10:15:00-04:00,2470.50,2470.75,2469.25,2470.50,8,NaN,False,False
9,2017-07-31 10:20:00-04:00,2470.25,2471.25,2470.25,2470.50,9,NaN,True,False
10,2017-07-31 10:25:00-04:00,2470.75,2471.00,2470.00,2470.25,10,NaN,False,False
11,2017-07-31 10:30:00-04:00,2470.50,2471.00,2469.00,2469.25,11,NaN,False,False
12,2017-07-31 10:35:00-04:00,2469.50,2469.50,2467.75,2468.50,12,NaN,False,False
13,2017-07-31 10:40:00-04:00,2468.50,2468.50,2466.75,2468.00,13,NaN,False,True
14,2017-07-31 10:45:00-04:00,2467.75,2468.75,2467.50,2467.75,14,NaN,False,False
15,2017-07-31 10:50:00-04:00,2467.75,2469.00,2467.75,2468.00,15,NaN,True,False
16,2017-07-31 10:55:00-04:00,2468.00,2468.25,2466.50,2467.00,16,NaN,False,False
17,2017-07-31 11:00:00-04:00,2467.00,2468.00,2466.25,2467.75,17,NaN,False,True
18,2017-07-31 11:05:00-04:00,2468.00,2469.50,2467.75,2468.75,18,NaN,True,False
19,2017-07-31 11:10:00-04:00,2469.00,2469.25,2468.25,2469.25,19,2469.307035,False,False

In [13]:
%%time
fig, ax = plt.subplots(figsize=(16,8))
#ax.patch.set(facecolor='w', edgecolor='k', linewidth=1.0)

def format_hour(x, pos=None):
    thisind = np.clip(int(x + 0.5), 0, len(five_min_data.index) - 1)
    return five_min_data['date'][thisind].strftime('%b %-d %I:%M')

ax.xaxis.set_major_formatter(ticker.FuncFormatter(format_hour))

for i in range(0, 500):
    gd = five_min_data.iloc[i]
    subset = gd[['x','open','high','low','close']]
    tuples = [tuple(subset.values)]
    candlestick_ohlc(ax, tuples, width=.5, colorup='g', colordown='r', alpha=1)
    
    # Adjust axes
    i_min = max(0,i-100)
    i_max = i + 1 if i < 100 else i_min + 101
    ax.set_xlim(i_min - 0.5, i_max + 0.5)
    y_max = five_min_data.iloc[i_min:i_max]['high'].max()
    y_min = five_min_data.iloc[i_min:i_max]['low'].min()
    ax.set_ylim(y_min - 1, y_max + 1)
    
    # Plot vertical lines indicating new trading day
    ts = five_min_data.iloc[i]['date']
    if (ts.hour == 9) and (ts.minute == 35):
        ax.axvline(i - 0.5, color='black', lw=0.5)
        
    # Plot ema
    ax.plot(five_min_data.iloc[i_min:i_max]['x'].tolist(), 
            five_min_data.iloc[i_min:i_max]['ema'].tolist(), 
            color='blue', lw=0.5) 
        
    plt.pause(.01)

CPU times: user 1min 12s, sys: 59.5 s, total: 2min 12s
Wall time: 52.4 s

In [16]:
five_min_data.iloc[0:1]['high'].max()

2475.75

In [25]:
fig, ax = plt.subplots(figsize=(16,8))
gd = five_min_data.iloc[0:100]
subset = gd[['x','open','high','low','close']]
tuples = [tuple(x) for x in subset.values]
candlestick_ohlc(ax, tuples, width=.5, colorup='g', colordown='r', alpha=1)
ax.set_xlim(gd.iloc[0]['x'] - 5,gd.iloc[-1]['x'] + 2)

#Custom formatter for x axis
def format_hour(x, pos=None):
    thisind = np.clip(int(x + 0.5), 0, len(gd.index) - 1)
    print(thisind)
    return gd['date'][thisind].strftime('%I:%M')

ax.xaxis.set_major_formatter(ticker.FuncFormatter(format_hour))
xticklabels = gd['x'].iloc[5::6].tolist()
ax.xaxis.set_major_locator(ticker.FixedLocator(xticklabels))

5
11
17
23
29
35
41
47
53
59
65
71
77
83
89
95
0
4
9
14
16
20
23
24
26
26
28
28
29
29
29
29
29
29
29
28
27
26
25
23
21
19
17
14
12
9
6
4
1
0
0
0
0
36
36
36
36
36
36
36
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
34
34
33
33
31
30
29
27
25
23
20
17
14
11
9
6
5
3
2
0
0
0

In [32]:
%prun candlestick_ohlc(ax, tuples, width=.5, colorup='g', colordown='r', alpha=1)