In [1]:
import datetime
import random
import math
import numpy as np
import pandas as pd
import pandas_market_calendars as mcal

In [2]:
def make_5min_bars(tick_data):
    #Resample to get 5min bars
    five_min_data = pd.DataFrame(
        tick_data['last'].resample('5Min', loffset=datetime.timedelta(minutes=5)).ohlc())
        
    #Create RTH Calendar
        
    #We hack the NYSE Calendar extending the close until 4:15
    class CMERTHCalendar(mcal.exchange_calendar_nyse.NYSEExchangeCalendar):
        @property
        def close_time(self):
            return datetime.time(16, 15)
        
    nyse = CMERTHCalendar()
    schedule = nyse.schedule(start_date=five_min_data.index.min(), 
                             end_date=five_min_data.index.max())
        
    #Filter out those bars that occur during RTH
    five_min_data['dates'] = pd.to_datetime(five_min_data.index.to_datetime().date)
    five_min_data['valid_date'] = five_min_data['dates'].isin(schedule.index)
    five_min_data['valid_time'] = False
    during_rth = five_min_data['valid_date'] & \
        (five_min_data.index > schedule.loc[five_min_data['dates'],'market_open']) & \
        (five_min_data.index <= schedule.loc[five_min_data['dates'],'market_close'])
    five_min_data.loc[during_rth, 'valid_time'] = True
    five_min_data = five_min_data[five_min_data['valid_time'] == True]
    five_min_data.drop(['dates','valid_date','valid_time'], axis=1, inplace=True)
        
    #Add ema
    five_min_data['ema'] = five_min_data['close'].ewm(span=20, min_periods=20).mean()

    #Reset index
    five_min_data.reset_index(inplace=True)
        
    #Add column for number of seconds elapsed in trading day
    five_min_data['sec'] = (five_min_data['date'].values 
                            - five_min_data['date'].values.astype('datetime64[D]')) / np.timedelta64(1,'s')

    #Calculate sin & cos time
    #24hr time is a cyclical continuous feature
    seconds_in_day = 24*60*60
    five_min_data['sin_time'] = np.sin(2*np.pi*five_min_data['sec']/seconds_in_day)
    five_min_data['cos_time'] = np.cos(2*np.pi*five_min_data['sec']/seconds_in_day)

    five_min_data.drop('sec', axis=1, inplace=True)
        
    return five_min_data

In [3]:
td = pd.read_feather('../data/processed/ES_tick.feather')
td = td[td['date'] > '2017-07-29']
#Create Index from date column
td.index = td['date']
td.drop(labels=['date'],axis=1,inplace=True)

In [56]:
fd = make_5min_bars(td)

#Add columns tracking reward for buy/sell actions and number of bars until reward
fd.loc[:,'sell_r'] = 0
fd.loc[:,'sell_b'] = 0
fd.loc[:,'buy_r'] = 0
fd.loc[:,'buy_b'] = 0

In [11]:
fd.head()

,date,open,high,low,close,ema,sin_time,cos_time,sell_r,sell_b,buy_r,buy_b
0,2017-07-31 09:35:00-04:00,2474.75,2475.75,2474.00,2475.50,NaN,-0.402747,-0.915311,0,0,0,0
1,2017-07-31 09:40:00-04:00,2475.25,2476.00,2473.75,2475.50,NaN,-0.422618,-0.906308,0,0,0,0
2,2017-07-31 09:45:00-04:00,2475.75,2475.75,2474.50,2474.75,NaN,-0.442289,-0.896873,0,0,0,0
3,2017-07-31 09:50:00-04:00,2474.50,2475.00,2473.50,2473.75,NaN,-0.461749,-0.887011,0,0,0,0
4,2017-07-31 09:55:00-04:00,2474.00,2474.25,2472.75,2472.75,NaN,-0.480989,-0.876727,0,0,0,0

In [57]:
def simulate(start_index, action, order_price):
    position = 'flat'
    working_order = None
    reward = 0
    for i, r in fd[start_index+1:].iterrows():
         # Get tick data for the current bar
        ts_end = r['date']
        ts_start = ts_end - pd.Timedelta(minutes=5)
        ticks = td[(td.index > ts_start) & \
                   (td.index <= ts_end)]
        
        if position == 'flat':
            if action == 'buy':
                working_order = 'buy'
                target_price = order_price + 1
                stop_price = order_price - 1
            elif action == 'sell':
                working_order = 'sell'
                target_price = order_price - 1
                stop_price = order_price + 1
                
        
        for t_i, t_r in ticks.iterrows():
            price = t_r['last']
            if position == 'flat':
                if working_order == 'buy':
                    if price < order_price:
                        position = 'long'
                        working_order = None
                        order_price = 0
                elif working_order == 'sell':
                    if price > order_price:
                        position = 'short'
                        working_order = None
                        order_price = 0
            elif position == 'long':
                if price > target_price:
                    position = 'flat'
                    reward = 50
                elif price <= stop_price:
                    position = 'flat'
                    reward = -50
            elif position == 'short':
                if price < target_price:
                    position = 'flat'
                    reward = 50
                elif price >= stop_price:
                    position = 'flat'
                    reward = -50
        
        if position == 'flat':
            break
            
    return reward, i - (start_index+1)

In [58]:
for index, row in fd[:-1].iterrows():
    fd.loc[index, 'buy_r'], fd.loc[index, 'buy_b'] = simulate(index, 'buy', row['low'])
    fd.loc[index, 'sell_r'], fd.loc[index, 'sell_b'] = simulate(index, 'sell', row['high'])

In [59]:
fd.tail(100)

,date,open,high,low,close,ema,sin_time,cos_time,sell_r,sell_b,buy_r,buy_b
9905,2018-01-24 14:45:00-05:00,2841.25,2842.50,2841.00,2842.25,2838.815696,-0.896873,0.442289,-50,0,0,0
9906,2018-01-24 14:50:00-05:00,2842.50,2845.25,2842.50,2844.00,2839.309439,-0.887011,0.461749,0,0,-50,2
9907,2018-01-24 14:55:00-05:00,2844.25,2844.75,2841.75,2842.25,2839.589492,-0.876727,0.480989,0,0,0,0
9908,2018-01-24 15:00:00-05:00,2842.25,2843.00,2841.75,2842.50,2839.866684,-0.866025,0.500000,0,0,-50,0
9909,2018-01-24 15:05:00-05:00,2842.50,2842.75,2839.50,2839.75,2839.855571,-0.854912,0.518773,0,0,0,0
9910,2018-01-24 15:10:00-05:00,2839.75,2841.50,2839.75,2841.25,2839.988374,-0.843391,0.537300,50,0,50,0
9911,2018-01-24 15:15:00-05:00,2841.25,2842.00,2839.00,2840.00,2839.989481,-0.831470,0.555570,0,0,50,0
9912,2018-01-24 15:20:00-05:00,2839.75,2841.25,2838.75,2840.00,2839.990483,-0.819152,0.573576,0,0,0,0
9913,2018-01-24 15:25:00-05:00,2839.75,2841.00,2839.25,2840.75,2840.062818,-0.806445,0.591310,50,0,0,0
9914,2018-01-24 15:30:00-05:00,2840.75,2841.50,2839.25,2840.50,2840.104454,-0.793353,0.608761,0,0,-50,0
9915,2018-01-24 15:35:00-05:00,2840.50,2841.50,2838.00,2839.00,2839.999268,-0.779884,0.625923,0,0,0,0
9916,2018-01-24 15:40:00-05:00,2839.25,2841.00,2839.25,2840.00,2839.999338,-0.766044,0.642788,0,0,50,0
9917,2018-01-24 15:45:00-05:00,2840.00,2840.50,2838.50,2840.25,2840.023210,-0.751840,0.659346,-50,0,0,0
9918,2018-01-24 15:50:00-05:00,2840.50,2845.50,2840.50,2843.00,2840.306714,-0.737277,0.675590,0,0,-50,1
9919,2018-01-24 15:55:00-05:00,2842.75,2842.75,2840.25,2840.50,2840.325122,-0.722364,0.691513,0,0,-50,0
9920,2018-01-24 16:00:00-05:00,2840.50,2841.25,2838.75,2839.25,2840.222730,-0.707107,0.707107,0,0,50,0
9921,2018-01-24 16:05:00-05:00,2839.25,2841.00,2838.50,2838.75,2840.082470,-0.691513,0.722364,0,0,50,1
9922,2018-01-24 16:10:00-05:00,2838.50,2839.00,2838.00,2838.75,2839.955568,-0.675590,0.737277,-50,0,0,0
9923,2018-01-24 16:15:00-05:00,2839.00,2841.75,2838.75,2841.50,2840.102657,-0.659346,0.751840,-50,0,0,0
9924,2018-01-25 09:35:00-05:00,2848.50,2850.00,2846.50,2848.25,2840.878594,-0.625923,-0.779884,0,0,50,0
9925,2018-01-25 09:40:00-05:00,2848.25,2849.00,2842.25,2843.00,2841.080633,-0.642788,-0.766044,0,0,50,0
9926,2018-01-25 09:45:00-05:00,2842.75,2847.00,2842.00,2844.75,2841.430096,-0.659346,-0.751840,0,0,0,0
9927,2018-01-25 09:50:00-05:00,2845.00,2845.25,2842.75,2845.00,2841.770087,-0.675590,-0.737277,0,0,-50,0
9928,2018-01-25 09:55:00-05:00,2845.00,2845.00,2840.50,2841.75,2841.768174,-0.691513,-0.722364,0,0,-50,0
9929,2018-01-25 10:00:00-05:00,2841.75,2841.75,2833.75,2836.50,2841.266443,-0.707107,-0.707107,0,0,0,0
9930,2018-01-25 10:05:00-05:00,2836.50,2839.75,2834.00,2839.00,2841.050591,-0.722364,-0.691513,-50,0,0,0
9931,2018-01-25 10:10:00-05:00,2839.00,2841.00,2834.75,2835.25,2840.498154,-0.737277,-0.675590,0,0,50,0
9932,2018-01-25 10:15:00-05:00,2835.00,2837.50,2834.25,2836.50,2840.117378,-0.751840,-0.659346,-50,0,0,0
9933,2018-01-25 10:20:00-05:00,2836.25,2840.00,2836.25,2840.00,2840.106199,-0.766044,-0.642788,-50,0,0,0
9934,2018-01-25 10:25:00-05:00,2840.00,2842.00,2839.25,2841.00,2840.191323,-0.779884,-0.625923,0,0,-50,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9975,2018-01-25 13:50:00-05:00,2844.50,2845.25,2844.25,2844.50,2843.684362,-0.976296,0.216440,-50,0,0,0
9976,2018-01-25 13:55:00-05:00,2844.50,2846.25,2844.50,2845.50,2843.857280,-0.971342,0.237686,0,0,0,0
9977,2018-01-25 14:00:00-05:00,2845.50,2846.00,2844.75,2844.75,2843.942301,-0.965926,0.258819,0,0,-50,0
9978,2018-01-25 14:05:00-05:00,2844.75,2845.25,2843.75,2844.00,2843.947796,-0.960050,0.279829,50,1,50,0
9979,2018-01-25 14:10:00-05:00,2844.25,2845.50,2843.50,2844.75,2844.024196,-0.953717,0.300706,0,0,-50,0
9980,2018-01-25 14:15:00-05:00,2844.50,2845.00,2837.75,2840.25,2843.664749,-0.946930,0.321439,0,0,0,0
9981,2018-01-25 14:20:00-05:00,2840.00,2841.50,2838.50,2841.50,2843.458582,-0.939693,0.342020,0,0,0,0
9982,2018-01-25 14:25:00-05:00,2841.25,2841.50,2839.00,2839.00,2843.033956,-0.932008,0.362438,0,0,50,0
9983,2018-01-25 14:30:00-05:00,2839.00,2841.00,2838.25,2840.25,2842.768817,-0.923880,0.382683,0,0,0,0
9984,2018-01-25 14:35:00-05:00,2840.00,2841.00,2839.00,2839.25,2842.433692,-0.915311,0.402747,0,0,-50,0
9985,2018-01-25 14:40:00-05:00,2839.25,2839.25,2835.50,2836.50,2841.868578,-0.906308,0.422618,0,0,0,0
9986,2018-01-25 14:45:00-05:00,2836.50,2837.50,2835.50,2837.00,2841.404904,-0.896873,0.442289,0,0,-50,0
9987,2018-01-25 14:50:00-05:00,2837.25,2837.50,2834.25,2836.75,2840.961580,-0.887011,0.461749,0,0,-50,0
9988,2018-01-25 14:55:00-05:00,2836.75,2837.25,2833.25,2835.50,2840.441429,-0.876727,0.480989,50,0,0,0
9989,2018-01-25 15:00:00-05:00,2835.50,2837.75,2834.25,2834.50,2839.875579,-0.866025,0.500000,0,0,-50,0
9990,2018-01-25 15:05:00-05:00,2834.75,2835.75,2832.75,2834.50,2839.363619,-0.854912,0.518773,50,0,0,0
9991,2018-01-25 15:10:00-05:00,2834.25,2836.50,2834.25,2834.25,2838.876608,-0.843391,0.537300,0,0,-50,0
9992,2018-01-25 15:15:00-05:00,2834.25,2834.75,2830.75,2832.75,2838.293121,-0.831470,0.555570,-50,0,0,0
9993,2018-01-25 15:20:00-05:00,2832.75,2837.00,2832.75,2836.00,2838.074729,-0.819152,0.573576,-50,0,0,0
9994,2018-01-25 15:25:00-05:00,2836.00,2838.25,2836.00,2838.00,2838.067612,-0.806445,0.591310,-50,0,0,0
9995,2018-01-25 15:30:00-05:00,2838.00,2839.25,2837.50,2837.75,2838.037363,-0.793353,0.608761,0,0,-50,0
9996,2018-01-25 15:35:00-05:00,2838.00,2839.25,2836.50,2838.00,2838.033805,-0.779884,0.625923,0,0,50,1
9997,2018-01-25 15:40:00-05:00,2838.00,2838.25,2836.25,2837.00,2837.935347,-0.766044,0.642788,-50,1,0,0
9998,2018-01-25 15:45:00-05:00,2837.00,2839.00,2836.25,2838.25,2837.965314,-0.751840,0.659346,-50,0,0,0
9999,2018-01-25 15:50:00-05:00,2838.25,2840.25,2838.00,2838.50,2838.016236,-0.737277,0.675590,50,0,0,0
10000,2018-01-25 15:55:00-05:00,2838.50,2840.50,2838.25,2838.50,2838.062309,-0.722364,0.691513,-50,3,0,0
10001,2018-01-25 16:00:00-05:00,2838.75,2840.75,2838.25,2839.75,2838.223042,-0.707107,0.707107,-50,2,0,0
10002,2018-01-25 16:05:00-05:00,2840.00,2841.00,2839.50,2840.00,2838.392276,-0.691513,0.722364,0,0,0,0
10003,2018-01-25 16:10:00-05:00,2840.25,2840.75,2840.00,2840.75,2838.616821,-0.675590,0.737277,-50,0,0,0
10004,2018-01-25 16:15:00-05:00,2840.75,2841.75,2840.50,2841.00,2838.843790,-0.659346,0.751840,0,0,0,0

In [60]:
fd.to_feather('../data/processed/ES_5mintrading.feather')