In [3]:
import datetime
import random
import math
import numpy as np
import pandas as pd
import pandas_market_calendars as mcal

%load_ext line_profiler

The line_profiler extension is already loaded. To reload it, use:
  %reload_ext line_profiler

In [4]:
def make_5min_bars(tick_data):
    #Resample to get 5min bars
    five_min_data = pd.DataFrame(
        tick_data['last'].resample('5Min', loffset=datetime.timedelta(minutes=5)).ohlc())
        
    #Create RTH Calendar
        
    #We hack the NYSE Calendar extending the close until 4:15
    class CMERTHCalendar(mcal.exchange_calendar_nyse.NYSEExchangeCalendar):
        @property
        def close_time(self):
            return datetime.time(16, 15)
        
    nyse = CMERTHCalendar()
    print(nyse.tz.zone)
    schedule = nyse.schedule(start_date=five_min_data.index.min(), 
                             end_date=five_min_data.index.max())
        
    #Filter out those bars that occur during RTH
    five_min_data['dates'] = pd.to_datetime(five_min_data.index.to_datetime().date)
    five_min_data['valid_date'] = five_min_data['dates'].isin(schedule.index)
    five_min_data['valid_time'] = False
    during_rth = five_min_data['valid_date'] & \
        (five_min_data.index > schedule.loc[five_min_data['dates'],'market_open']) & \
        (five_min_data.index <= schedule.loc[five_min_data['dates'],'market_close'])
    five_min_data.loc[during_rth, 'valid_time'] = True
    five_min_data = five_min_data[five_min_data['valid_time'] == True]
    five_min_data.drop(['dates','valid_date','valid_time'], axis=1, inplace=True)
        
    #Add ema
    five_min_data['ema'] = five_min_data['close'].ewm(span=20, min_periods=20).mean()

    #Reset index
    five_min_data.reset_index(inplace=True)
        
    #Add column for number of seconds elapsed in trading day
    five_min_data['sec'] = (five_min_data['date'].values 
                            - five_min_data['date'].values.astype('datetime64[D]')) / np.timedelta64(1,'s')

    #Calculate sin & cos time
    #24hr time is a cyclical continuous feature
    seconds_in_day = 24*60*60
    five_min_data['sin_time'] = np.sin(2*np.pi*five_min_data['sec']/seconds_in_day)
    five_min_data['cos_time'] = np.cos(2*np.pi*five_min_data['sec']/seconds_in_day)

    five_min_data.drop('sec', axis=1, inplace=True)
        
    return five_min_data

In [20]:
td = pd.read_feather('../data/processed/ES_tick.feather')
td = td[td['date'] > '2017-07-29']
#td = td[td['date'] > '2018-01-24']
#Create Index from date column
td.index = td['date']
td.drop(labels=['date'],axis=1,inplace=True)
#Remove duplicates -- timestamps are equal!!!
td = td[~td.index.duplicated()]
td.head()
#td = pd.read_hdf('../data/processed/store.h5', key='tick_data')
#td.columns = ['last','volume']
#td.index.rename('date', inplace=True)
#td.index = td.index.tz_localize('US/Eastern')
#td = td[~td.index.duplicated()]
#td.head()

                                     last     bid      ask  volume
date
2017-07-30 18:00:00.041000-04:00  2471.50  2471.5  2471.50       1
2017-07-30 18:00:00.056000-04:00  2471.75  2471.5  2471.75       1
2017-07-30 18:00:00.063000-04:00  2471.50  2471.5  2471.75       1
2017-07-30 18:00:00.068000-04:00  2471.50  2471.5  2471.75       5
2017-07-30 18:00:00.093000-04:00  2471.75  2471.5  2471.75       9

In [20]:
td.index = td.index.tz_localize('America/Chicago')
td.head()

                              last  volume
date
2006-01-02 17:00:02-06:00  1255.25       2
2006-01-02 17:00:04-06:00  1255.50       3
2006-01-02 17:00:05-06:00  1255.25       1
2006-01-02 17:00:08-06:00  1255.50       5
2006-01-02 17:00:09-06:00  1255.50       5

In [22]:
td.index = td.index.tz_convert('America/New_York')
td.head()

                              last  volume
date
2006-01-02 18:00:02-05:00  1255.25       2
2006-01-02 18:00:04-05:00  1255.50       3
2006-01-02 18:00:05-05:00  1255.25       1
2006-01-02 18:00:08-05:00  1255.50       5
2006-01-02 18:00:09-05:00  1255.50       5

In [23]:
store = pd.HDFStore('../data/processed/store.h5')
store.put('processed_data',td)
store.close()

In [5]:
td = pd.read_hdf('../data/processed/store.h5', key='processed_data')
td.head()

                              last  volume
date
2006-01-02 18:00:02-05:00  1255.25       2
2006-01-02 18:00:04-05:00  1255.50       3
2006-01-02 18:00:05-05:00  1255.25       1
2006-01-02 18:00:08-05:00  1255.50       5
2006-01-02 18:00:09-05:00  1255.50       5

In [6]:
td.shape

(192917901, 2)

In [7]:
fd = make_5min_bars(td)

#Add columns tracking reward for buy/sell actions and number of bars until reward
fd.loc[:,'btc'] = 0
fd.loc[:,'stc'] = 0

America/New_York

In [11]:
fd.iloc[18097]

date        2006-11-20 15:40:00-05:00
open                             1404
high                           1404.5
low                            1403.5
close                          1404.5
ema                           1403.95
sin_time                    -0.766044
cos_time                     0.642788
btc                                 0
stc                                 0
Name: 18097, dtype: object

In [8]:
fd['close'].isnull().values.any()

False

In [23]:
fd.tail(100)

,date,open,high,low,close,ema,sin_time,cos_time,btc,stc
9905,2018-01-24 14:45:00-05:00,2841.25,2842.50,2841.00,2842.25,2838.815737,-0.896873,0.442289,0,0
9906,2018-01-24 14:50:00-05:00,2842.50,2845.25,2842.50,2844.00,2839.309476,-0.887011,0.461749,0,0
9907,2018-01-24 14:55:00-05:00,2844.25,2844.50,2841.75,2842.25,2839.589526,-0.876727,0.480989,0,0
9908,2018-01-24 15:00:00-05:00,2842.25,2843.00,2841.75,2842.50,2839.866714,-0.866025,0.500000,0,0
9909,2018-01-24 15:05:00-05:00,2842.50,2842.75,2839.50,2839.75,2839.855598,-0.854912,0.518773,0,0
9910,2018-01-24 15:10:00-05:00,2839.75,2841.50,2839.75,2841.25,2839.988398,-0.843391,0.537300,0,0
9911,2018-01-24 15:15:00-05:00,2841.25,2842.00,2839.00,2840.00,2839.989503,-0.831470,0.555570,0,0
9912,2018-01-24 15:20:00-05:00,2839.75,2841.25,2838.75,2840.00,2839.990503,-0.819152,0.573576,0,0
9913,2018-01-24 15:25:00-05:00,2839.75,2841.00,2839.25,2840.75,2840.062836,-0.806445,0.591310,0,0
9914,2018-01-24 15:30:00-05:00,2840.75,2841.50,2839.25,2840.50,2840.104471,-0.793353,0.608761,0,0
9915,2018-01-24 15:35:00-05:00,2840.50,2841.50,2838.00,2839.00,2839.999283,-0.779884,0.625923,0,0
9916,2018-01-24 15:40:00-05:00,2839.25,2841.00,2839.25,2840.00,2839.999351,-0.766044,0.642788,0,0
9917,2018-01-24 15:45:00-05:00,2840.00,2840.50,2838.50,2840.25,2840.023223,-0.751840,0.659346,0,0
9918,2018-01-24 15:50:00-05:00,2840.50,2845.50,2840.50,2843.00,2840.306725,-0.737277,0.675590,0,0
9919,2018-01-24 15:55:00-05:00,2842.75,2842.75,2840.25,2840.50,2840.325132,-0.722364,0.691513,0,0
9920,2018-01-24 16:00:00-05:00,2840.50,2841.25,2838.75,2839.25,2840.222739,-0.707107,0.707107,0,0
9921,2018-01-24 16:05:00-05:00,2839.25,2841.00,2838.50,2838.75,2840.082478,-0.691513,0.722364,0,0
9922,2018-01-24 16:10:00-05:00,2838.50,2839.00,2838.00,2838.75,2839.955575,-0.675590,0.737277,0,0
9923,2018-01-24 16:15:00-05:00,2839.00,2841.75,2838.75,2841.50,2840.102663,-0.659346,0.751840,0,0
9924,2018-01-25 09:35:00-05:00,2848.50,2850.00,2846.50,2848.25,2840.878600,-0.625923,-0.779884,0,0
9925,2018-01-25 09:40:00-05:00,2848.25,2849.00,2842.25,2843.00,2841.080638,-0.642788,-0.766044,0,0
9926,2018-01-25 09:45:00-05:00,2842.75,2847.00,2842.00,2844.75,2841.430101,-0.659346,-0.751840,0,0
9927,2018-01-25 09:50:00-05:00,2845.00,2845.25,2842.75,2845.00,2841.770092,-0.675590,-0.737277,0,0
9928,2018-01-25 09:55:00-05:00,2845.00,2845.00,2840.50,2841.75,2841.768178,-0.691513,-0.722364,0,0
9929,2018-01-25 10:00:00-05:00,2841.75,2841.75,2833.75,2836.50,2841.266447,-0.707107,-0.707107,0,0
9930,2018-01-25 10:05:00-05:00,2836.50,2839.75,2834.00,2839.00,2841.050595,-0.722364,-0.691513,0,0
9931,2018-01-25 10:10:00-05:00,2839.00,2841.00,2834.75,2835.25,2840.498157,-0.737277,-0.675590,0,0
9932,2018-01-25 10:15:00-05:00,2835.00,2837.50,2834.25,2836.50,2840.117380,-0.751840,-0.659346,0,0
9933,2018-01-25 10:20:00-05:00,2836.25,2840.00,2836.25,2840.00,2840.106201,-0.766044,-0.642788,0,0
9934,2018-01-25 10:25:00-05:00,2840.00,2842.00,2839.25,2841.00,2840.191325,-0.779884,-0.625923,0,0
...,...,...,...,...,...,...,...,...,...,...
9975,2018-01-25 13:50:00-05:00,2844.50,2845.25,2844.25,2844.50,2843.684362,-0.976296,0.216440,0,0
9976,2018-01-25 13:55:00-05:00,2844.50,2846.25,2844.50,2845.50,2843.857280,-0.971342,0.237686,0,0
9977,2018-01-25 14:00:00-05:00,2845.50,2846.00,2844.75,2844.75,2843.942301,-0.965926,0.258819,0,0
9978,2018-01-25 14:05:00-05:00,2844.75,2845.25,2843.75,2844.00,2843.947796,-0.960050,0.279829,0,0
9979,2018-01-25 14:10:00-05:00,2844.25,2845.50,2843.50,2844.75,2844.024196,-0.953717,0.300706,0,0
9980,2018-01-25 14:15:00-05:00,2844.50,2845.00,2837.75,2840.25,2843.664749,-0.946930,0.321439,0,0
9981,2018-01-25 14:20:00-05:00,2840.00,2841.50,2838.50,2841.50,2843.458583,-0.939693,0.342020,0,0
9982,2018-01-25 14:25:00-05:00,2841.25,2841.50,2839.00,2839.00,2843.033956,-0.932008,0.362438,0,0
9983,2018-01-25 14:30:00-05:00,2839.00,2840.75,2838.25,2840.25,2842.768817,-0.923880,0.382683,0,0
9984,2018-01-25 14:35:00-05:00,2840.00,2841.00,2839.00,2839.25,2842.433692,-0.915311,0.402747,0,0
9985,2018-01-25 14:40:00-05:00,2839.25,2839.25,2835.50,2836.50,2841.868578,-0.906308,0.422618,0,0
9986,2018-01-25 14:45:00-05:00,2836.50,2837.50,2835.50,2837.00,2841.404904,-0.896873,0.442289,0,0
9987,2018-01-25 14:50:00-05:00,2837.25,2837.50,2834.25,2836.75,2840.961580,-0.887011,0.461749,0,0
9988,2018-01-25 14:55:00-05:00,2836.75,2837.25,2833.25,2835.50,2840.441429,-0.876727,0.480989,0,0
9989,2018-01-25 15:00:00-05:00,2835.50,2837.75,2834.25,2834.50,2839.875579,-0.866025,0.500000,0,0
9990,2018-01-25 15:05:00-05:00,2834.75,2835.75,2832.75,2834.50,2839.363619,-0.854912,0.518773,0,0
9991,2018-01-25 15:10:00-05:00,2834.25,2836.50,2834.25,2834.25,2838.876608,-0.843391,0.537300,0,0
9992,2018-01-25 15:15:00-05:00,2834.25,2834.75,2830.75,2832.75,2838.293121,-0.831470,0.555570,0,0
9993,2018-01-25 15:20:00-05:00,2832.75,2837.00,2832.75,2836.00,2838.074729,-0.819152,0.573576,0,0
9994,2018-01-25 15:25:00-05:00,2836.00,2838.25,2836.00,2838.00,2838.067612,-0.806445,0.591310,0,0
9995,2018-01-25 15:30:00-05:00,2838.00,2839.25,2837.50,2837.75,2838.037363,-0.793353,0.608761,0,0
9996,2018-01-25 15:35:00-05:00,2838.00,2839.25,2836.50,2838.00,2838.033805,-0.779884,0.625923,0,0
9997,2018-01-25 15:40:00-05:00,2838.00,2838.25,2836.25,2837.00,2837.935347,-0.766044,0.642788,0,0
9998,2018-01-25 15:45:00-05:00,2837.00,2839.00,2836.25,2838.25,2837.965314,-0.751840,0.659346,0,0
9999,2018-01-25 15:50:00-05:00,2838.25,2840.25,2838.00,2838.50,2838.016236,-0.737277,0.675590,0,0
10000,2018-01-25 15:55:00-05:00,2838.50,2840.50,2838.25,2838.50,2838.062309,-0.722364,0.691513,0,0
10001,2018-01-25 16:00:00-05:00,2838.75,2840.75,2838.25,2839.75,2838.223042,-0.707107,0.707107,0,0
10002,2018-01-25 16:05:00-05:00,2840.00,2841.00,2839.50,2840.00,2838.392276,-0.691513,0.722364,0,0
10003,2018-01-25 16:10:00-05:00,2840.25,2840.75,2840.00,2840.75,2838.616821,-0.675590,0.737277,0,0
10004,2018-01-25 16:15:00-05:00,2840.75,2841.75,2840.50,2841.00,2838.843790,-0.659346,0.751840,0,0

In [9]:
def simulate(start_index, action, order_price):
    position = 'flat'
    working_order = None
    reward = 0
    #for i, r in fd[start_index+1:].iterrows():
    for i in fd[start_index+1:start_index+82].index:
         # Get tick data for the current bar
        #ts_end = r['date']
        ts_end = fd.at[i, 'date']
        ts_start = ts_end - pd.Timedelta(minutes=5)
        ticks = td.loc[ts_start:ts_end, :]
        
        if position == 'flat':
            if action == 'buy':
                position = 'long'
                target_price = order_price + 2
                stop_price = order_price - 2
            elif action == 'sell':
                position = 'short'
                target_price = order_price - 2
                stop_price = order_price + 2
                
        
        #for t_i, t_r in ticks.iterrows():
        for t_i in ticks.index:
            price = ticks.at[t_i, 'last']
            if position == 'long':
                if price > target_price:
                    position = 'flat'
                    reward = 96
                elif price <= stop_price:
                    position = 'flat'
                    reward = -104
            elif position == 'short':
                if price < target_price:
                    position = 'flat'
                    reward = 96
                elif price >= stop_price:
                    position = 'flat'
                    reward = -104
        
        if position == 'flat':
            break
            
    return reward

In [12]:
%lprun -f simulate simulate(0, 'buy', fd.loc[0, 'low'])

In [12]:
fd.shape

(253323, 12)

In [16]:
fd[fd['btc']!=0].tail()

,date,open,high,low,close,ema,sin_time,cos_time,btc,stc
233717,2017-07-07 12:30:00-04:00,2423.50,2424.00,2422.75,2423.25,2420.268153,-0.923880,-0.382683,-104,96
233718,2017-07-07 12:35:00-04:00,2423.25,2423.75,2422.75,2423.50,2420.575948,-0.932008,-0.362438,-104,96
233719,2017-07-07 12:40:00-04:00,2423.75,2423.75,2422.75,2422.75,2420.783000,-0.939693,-0.342020,96,-104
233720,2017-07-07 12:45:00-04:00,2423.00,2423.50,2422.75,2423.00,2420.994143,-0.946930,-0.321439,-104,-104
233721,2017-07-07 12:50:00-04:00,2423.25,2423.75,2422.75,2423.00,2421.185177,-0.953717,-0.300706,-104,0

In [25]:
%%time
for index, row in fd[:-1].iterrows():
    fd.loc[index, 'btc'] = simulate(index, 'buy', fd.at[index,'close'])
    fd.loc[index, 'stc'] = simulate(index, 'sell', fd.at[index,'close'])

CPU times: user 13min 7s, sys: 60 ms, total: 13min 7s
Wall time: 13min 7s

In [10]:
%%time
for index in fd[:-1].index:
    fd.loc[index, 'btc'] = simulate(index, 'buy', fd.at[index,'close'])
    fd.loc[index, 'stc'] = simulate(index, 'sell', fd.at[index,'close'])

CPU times: user 3h 23min 59s, sys: 2.31 s, total: 3h 24min 2s
Wall time: 3h 24min 1s

In [14]:
fd.tail(100)

,date,open,high,low,close,ema,sin_time,cos_time,btc,stc
253226,2018-06-21 14:45:00-04:00,2756.75,2757.25,2755.75,2756.50,2757.807597,-0.980785,1.950903e-01,-104,96
253227,2018-06-21 14:50:00-04:00,2756.50,2757.75,2756.25,2757.75,2757.802112,-0.976296,2.164396e-01,-104,96
253228,2018-06-21 14:55:00-04:00,2757.50,2757.75,2755.50,2755.75,2757.606673,-0.971342,2.376859e-01,-104,96
253229,2018-06-21 15:00:00-04:00,2755.75,2756.25,2754.25,2754.25,2757.286990,-0.965926,2.588190e-01,96,-104
253230,2018-06-21 15:05:00-04:00,2754.25,2755.50,2753.00,2755.25,2757.092991,-0.960050,2.798290e-01,-104,96
253231,2018-06-21 15:10:00-04:00,2755.00,2757.00,2753.75,2756.00,2756.988896,-0.953717,3.007058e-01,-104,96
253232,2018-06-21 15:15:00-04:00,2756.00,2756.25,2753.25,2754.25,2756.728049,-0.946930,3.214395e-01,-104,96
253233,2018-06-21 15:20:00-04:00,2754.25,2754.25,2751.25,2752.00,2756.277759,-0.939693,3.420201e-01,-104,96
253234,2018-06-21 15:25:00-04:00,2752.25,2753.25,2747.75,2752.50,2755.917972,-0.932008,3.624380e-01,96,-104
253235,2018-06-21 15:30:00-04:00,2752.25,2755.00,2751.50,2753.75,2755.711499,-0.923880,3.826834e-01,-104,96
253236,2018-06-21 15:35:00-04:00,2753.50,2753.75,2748.75,2749.25,2755.096118,-0.915311,4.027467e-01,-104,96
253237,2018-06-21 15:40:00-04:00,2749.25,2750.50,2747.75,2750.25,2754.634583,-0.906308,4.226183e-01,-104,96
253238,2018-06-21 15:45:00-04:00,2750.00,2750.00,2747.25,2747.75,2753.978908,-0.896873,4.422887e-01,96,-104
253239,2018-06-21 15:50:00-04:00,2747.75,2752.00,2747.00,2752.00,2753.790441,-0.887011,4.617486e-01,96,-104
253240,2018-06-21 15:55:00-04:00,2752.00,2754.00,2750.25,2752.25,2753.643732,-0.876727,4.809888e-01,96,-104
253241,2018-06-21 16:00:00-04:00,2752.50,2754.25,2751.75,2753.00,2753.582424,-0.866025,5.000000e-01,96,-104
253242,2018-06-21 16:05:00-04:00,2752.75,2754.00,2751.50,2752.25,2753.455527,-0.854912,5.187733e-01,96,-104
253243,2018-06-21 16:10:00-04:00,2752.25,2753.50,2752.00,2752.75,2753.388334,-0.843391,5.372996e-01,96,-104
253244,2018-06-21 16:15:00-04:00,2753.00,2754.00,2751.75,2752.00,2753.256111,-0.831470,5.555702e-01,96,-104
253245,2018-06-22 09:35:00-04:00,2767.25,2768.50,2765.00,2765.50,2754.422196,-0.402747,-9.153115e-01,-104,96
253246,2018-06-22 09:40:00-04:00,2765.50,2766.00,2763.25,2764.25,2755.358177,-0.422618,-9.063078e-01,-104,96
253247,2018-06-22 09:45:00-04:00,2764.25,2764.75,2762.75,2762.75,2756.062160,-0.442289,-8.968727e-01,-104,96
253248,2018-06-22 09:50:00-04:00,2762.75,2763.50,2760.50,2762.00,2756.627669,-0.461749,-8.870108e-01,96,-104
253249,2018-06-22 09:55:00-04:00,2761.75,2763.75,2761.50,2763.50,2757.282177,-0.480989,-8.767268e-01,-104,96
253250,2018-06-22 10:00:00-04:00,2763.50,2764.75,2761.25,2762.50,2757.779112,-0.500000,-8.660254e-01,96,-104
253251,2018-06-22 10:05:00-04:00,2762.25,2764.25,2761.25,2763.00,2758.276340,-0.518773,-8.549119e-01,96,-104
253252,2018-06-22 10:10:00-04:00,2763.00,2765.25,2763.00,2764.75,2758.892879,-0.537300,-8.433914e-01,-104,96
253253,2018-06-22 10:15:00-04:00,2764.75,2766.00,2764.25,2765.75,2759.545938,-0.555570,-8.314696e-01,-104,96
253254,2018-06-22 10:20:00-04:00,2765.75,2766.50,2765.00,2765.00,2760.065372,-0.573576,-8.191520e-01,-104,96
253255,2018-06-22 10:25:00-04:00,2765.00,2766.00,2764.00,2764.25,2760.463908,-0.591310,-8.064446e-01,-104,96
...,...,...,...,...,...,...,...,...,...,...
253296,2018-06-22 13:50:00-04:00,2765.50,2766.00,2765.00,2765.75,2764.388020,-0.999048,-4.361939e-02,-104,96
253297,2018-06-22 13:55:00-04:00,2765.50,2766.50,2765.50,2766.50,2764.589161,-0.999762,-2.181489e-02,-104,96
253298,2018-06-22 14:00:00-04:00,2766.25,2767.00,2765.75,2766.00,2764.723526,-1.000000,-1.836970e-16,-104,96
253299,2018-06-22 14:05:00-04:00,2766.00,2767.25,2765.75,2766.50,2764.892714,-0.999762,2.181489e-02,-104,96
253300,2018-06-22 14:10:00-04:00,2766.75,2766.75,2765.00,2765.50,2764.950551,-0.999048,4.361939e-02,-104,96
253301,2018-06-22 14:15:00-04:00,2765.75,2766.00,2765.00,2765.00,2764.955260,-0.997859,6.540313e-02,-104,96
253302,2018-06-22 14:20:00-04:00,2765.25,2765.50,2764.75,2765.00,2764.959521,-0.996195,8.715574e-02,-104,96
253303,2018-06-22 14:25:00-04:00,2765.00,2765.50,2762.75,2763.25,2764.796710,-0.994056,1.088669e-01,96,-104
253304,2018-06-22 14:30:00-04:00,2763.25,2763.75,2763.00,2763.00,2764.625595,-0.991445,1.305262e-01,96,-104
253305,2018-06-22 14:35:00-04:00,2763.25,2763.50,2762.00,2762.25,2764.399347,-0.988362,1.521234e-01,96,-104
253306,2018-06-22 14:40:00-04:00,2762.50,2763.75,2762.50,2763.50,2764.313695,-0.984808,1.736482e-01,96,-104
253307,2018-06-22 14:45:00-04:00,2763.25,2764.50,2763.25,2764.25,2764.307629,-0.980785,1.950903e-01,-104,-104
253308,2018-06-22 14:50:00-04:00,2764.25,2766.00,2763.75,2765.25,2764.397379,-0.976296,2.164396e-01,-104,96
253309,2018-06-22 14:55:00-04:00,2765.50,2766.25,2765.25,2765.25,2764.478581,-0.971342,2.376859e-01,-104,96
253310,2018-06-22 15:00:00-04:00,2765.25,2765.50,2764.75,2765.50,2764.575859,-0.965926,2.588190e-01,-104,96
253311,2018-06-22 15:05:00-04:00,2765.50,2765.75,2764.00,2764.25,2764.544825,-0.960050,2.798290e-01,-104,96
253312,2018-06-22 15:10:00-04:00,2764.50,2765.00,2763.75,2764.75,2764.564365,-0.953717,3.007058e-01,-104,96
253313,2018-06-22 15:15:00-04:00,2764.75,2765.00,2764.25,2765.00,2764.605854,-0.946930,3.214395e-01,-104,96
253314,2018-06-22 15:20:00-04:00,2765.00,2765.25,2763.25,2763.25,2764.476725,-0.939693,3.420201e-01,-104,96
253315,2018-06-22 15:25:00-04:00,2763.25,2764.25,2762.75,2764.00,2764.431323,-0.932008,3.624380e-01,-104,96
253316,2018-06-22 15:30:00-04:00,2764.00,2765.00,2763.75,2764.00,2764.390244,-0.923880,3.826834e-01,-104,96
253317,2018-06-22 15:35:00-04:00,2764.00,2764.00,2762.50,2763.75,2764.329269,-0.915311,4.027467e-01,-104,96
253318,2018-06-22 15:40:00-04:00,2763.50,2763.75,2762.50,2762.50,2764.155053,-0.906308,4.226183e-01,96,-104
253319,2018-06-22 15:45:00-04:00,2762.75,2763.50,2762.25,2762.25,2763.973619,-0.896873,4.422887e-01,96,-104
253320,2018-06-22 15:50:00-04:00,2762.50,2765.00,2762.25,2763.50,2763.928513,-0.887011,4.617486e-01,-104,96
253321,2018-06-22 15:55:00-04:00,2763.25,2764.50,2762.00,2762.50,2763.792464,-0.876727,4.809888e-01,-104,96
253322,2018-06-22 16:00:00-04:00,2762.25,2762.75,2755.25,2757.50,2763.193181,-0.866025,5.000000e-01,96,-104
253323,2018-06-22 16:05:00-04:00,2757.75,2761.75,2757.50,2761.00,2762.984307,-0.854912,5.187733e-01,-104,96
253324,2018-06-22 16:10:00-04:00,2761.25,2761.50,2759.25,2759.50,2762.652468,-0.843391,5.372996e-01,0,0
253325,2018-06-22 16:15:00-04:00,2759.50,2760.75,2758.75,2759.50,2762.352233,-0.831470,5.555702e-01,0,0

In [19]:
((fd['btc']==0) | (fd['stc']==0)).sum()

19

In [27]:
fd = fd[(fd['btc']!=0) & (fd['stc']!=0)]
fd.tail()

,date,open,high,low,close,ema,sin_time,cos_time,btc,stc
9996,2018-01-25 15:35:00-05:00,2838.00,2839.25,2836.50,2838.00,2838.033805,-0.779884,0.625923,96,-104
9997,2018-01-25 15:40:00-05:00,2838.00,2838.25,2836.25,2837.00,2837.935347,-0.766044,0.642788,96,-104
9998,2018-01-25 15:45:00-05:00,2837.00,2839.00,2836.25,2838.25,2837.965314,-0.751840,0.659346,96,-104
9999,2018-01-25 15:50:00-05:00,2838.25,2840.25,2838.00,2838.50,2838.016236,-0.737277,0.675590,96,-104
10000,2018-01-25 15:55:00-05:00,2838.50,2840.50,2838.25,2838.50,2838.062309,-0.722364,0.691513,96,-104

In [20]:
store = pd.HDFStore('../data/processed/store.h5')
store.put('cnn_data',fd)
store.close()

In [28]:
fd.to_feather('../data/processed/ES_TFCnn.feather')

In [13]:
fd = pd.read_feather('../data/processed/ES_5mintrading.feather')
fd.tail()

,date,open,high,low,close,ema,sin_time,cos_time,sell_r,sell_b,buy_r,buy_b,cdl_body,cdl_ut,cdl_lt,cdl_rng
10000,2018-01-25 15:55:00-05:00,2838.50,2840.50,2838.25,2838.50,2838.062309,-0.722364,0.691513,-50,3,0,0,0.00,2.00,0.25,2.25
10001,2018-01-25 16:00:00-05:00,2838.75,2840.75,2838.25,2839.75,2838.223042,-0.707107,0.707107,-50,2,0,0,1.00,1.00,0.50,2.50
10002,2018-01-25 16:05:00-05:00,2840.00,2841.00,2839.50,2840.00,2838.392276,-0.691513,0.722364,0,0,0,0,0.00,1.00,0.50,1.50
10003,2018-01-25 16:10:00-05:00,2840.25,2840.75,2840.00,2840.75,2838.616821,-0.675590,0.737277,-50,0,0,0,0.50,0.00,0.25,0.75
10004,2018-01-25 16:15:00-05:00,2840.75,2841.75,2840.50,2841.00,2838.843790,-0.659346,0.751840,0,0,0,0,0.25,0.75,0.25,1.25

In [34]:
fd['cdl_sign'] = np.sign(fd['close'] - fd['open'])
fd['cdl_body'] = np.absolute(fd['close'] - fd['open'])
#fd['cdl_ut'] = fd['high'] - fd['close'] if fd['cdl_body'] > 0 else fd['high'] - fd['open']
fd['cdl_ut'] = np.where(fd['cdl_sign'] > 0, fd['high'] - fd['close'], fd['high'] - fd['open'])
fd['cdl_lt'] = np.where(fd['cdl_sign'] > 0, fd['open'] - fd['low'], fd['close'] - fd['low'])
fd['cdl_rng'] = fd['high'] - fd['low']
fd['cdl_hl'] = np.where(fd['low'] >= fd['low'].shift(), 1, 0) #higher low
fd['cdl_lh'] = np.where(fd['high'] <= fd['high'].shift(), 1, 0) #lower high
fd.tail(10)

,date,open,high,low,close,ema,sin_time,cos_time,sell_r,sell_b,buy_r,buy_b,cdl_sign,cdl_body,cdl_ut,cdl_lt,cdl_rng,cdl_hl,cdl_lh
253316,2018-06-22 15:30:00-04:00,2764.00,2765.00,2763.75,2764.00,2764.390244,-0.923880,0.382683,0,0,-50,0,0.0,0.00,1.00,0.25,1.25,1,0
253317,2018-06-22 15:35:00-04:00,2764.00,2764.00,2762.50,2763.75,2764.329269,-0.915311,0.402747,0,0,0,0,-1.0,0.25,0.00,1.25,1.50,0,1
253318,2018-06-22 15:40:00-04:00,2763.50,2763.75,2762.50,2762.50,2764.155053,-0.906308,0.422618,0,0,50,1,-1.0,1.00,0.25,0.00,1.25,1,1
253319,2018-06-22 15:45:00-04:00,2762.75,2763.50,2762.25,2762.25,2763.973619,-0.896873,0.442289,-50,0,0,0,-1.0,0.50,0.75,0.00,1.25,0,1
253320,2018-06-22 15:50:00-04:00,2762.50,2765.00,2762.25,2763.50,2763.928513,-0.887011,0.461749,0,0,-50,1,1.0,1.00,1.50,0.25,2.75,1,0
253321,2018-06-22 15:55:00-04:00,2763.25,2764.50,2762.00,2762.50,2763.792464,-0.876727,0.480989,0,0,-50,0,-1.0,0.75,1.25,0.50,2.50,0,1
253322,2018-06-22 16:00:00-04:00,2762.25,2762.75,2755.25,2757.50,2763.193181,-0.866025,0.500000,0,0,0,0,-1.0,4.75,0.50,2.25,7.50,0,1
253323,2018-06-22 16:05:00-04:00,2757.75,2761.75,2757.50,2761.00,2762.984307,-0.854912,0.518773,0,0,0,0,1.0,3.25,0.75,0.25,4.25,1,1
253324,2018-06-22 16:10:00-04:00,2761.25,2761.50,2759.25,2759.50,2762.652468,-0.843391,0.537300,0,0,0,0,-1.0,1.75,0.25,0.25,2.25,1,1
253325,2018-06-22 16:15:00-04:00,2759.50,2760.75,2758.75,2759.50,2762.352233,-0.831470,0.555570,0,0,0,0,0.0,0.00,1.25,0.75,2.00,0,1

In [35]:
fd.shape

(253326, 19)

In [36]:
store = pd.HDFStore('../data/processed/store.h5')
store.put('final_data',fd)
store.close()

In [25]:
fd.to_feather('../data/processed/ES_5mintrading.feather')

In [26]:
td = pd.read_feather('../data/processed/ES_5mintrading.feather')
td.tail()

,date,open,high,low,close,ema,sin_time,cos_time,sell_r,sell_b,buy_r,buy_b,cdl_body,cdl_ut,cdl_lt,cdl_rng,cdl_sign,cdl_hl,cdl_lh
10000,2018-01-25 15:55:00-05:00,2838.50,2840.50,2838.25,2838.50,2838.062309,-0.722364,0.691513,-50,3,0,0,0.00,2.00,0.25,2.25,0.0,1,0
10001,2018-01-25 16:00:00-05:00,2838.75,2840.75,2838.25,2839.75,2838.223042,-0.707107,0.707107,-50,2,0,0,1.00,1.00,0.50,2.50,1.0,1,0
10002,2018-01-25 16:05:00-05:00,2840.00,2841.00,2839.50,2840.00,2838.392276,-0.691513,0.722364,0,0,0,0,0.00,1.00,0.50,1.50,0.0,1,0
10003,2018-01-25 16:10:00-05:00,2840.25,2840.75,2840.00,2840.75,2838.616821,-0.675590,0.737277,-50,0,0,0,0.50,0.00,0.25,0.75,1.0,1,1
10004,2018-01-25 16:15:00-05:00,2840.75,2841.75,2840.50,2841.00,2838.843790,-0.659346,0.751840,0,0,0,0,0.25,0.75,0.25,1.25,1.0,1,0